/* .row.heading h2 {
    color: white;
    font-size: 90px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    transform: translate(60%);
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: monospace;
    text-shadow: 5px;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 12px 15px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    background: rgba(0, 0, 0, 0.5);
    width: 500px;
} */

body {
    padding: 0;
    margin: 0;
    background: url('loook2.png')  center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading.heading-icon {
    display: block;
}

#loun {
    background-color: #89919e;
    ;
}

.nav-link {
    font-size: 20px;
    font-family: monospace;
}


.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}

.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}

.practice-area .inner {
    border: 1px solid #999999;
    text-align: center;
    margin-bottom: 28px;
    padding: 40px 25px;
}

.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0px;
}

.practice-area .inner h3 {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}

.practice-area .inner p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.practice-area .inner img {
    display: inline-block;
}

.our-webcoderskull .cnt-block {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 20px;
    text-align: center;
    margin: 0 0 28px;
    margin-top: 48px;
    border-radius: 15px;
}

.our-webcoderskull .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 100%;
}

.our-webcoderskull .cnt-block h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
}

.our-webcoderskull .cnt-block h3 a {
    text-decoration: none;
    color: #2a2a2a;
}

.our-webcoderskull .cnt-block h3 a:hover {
    color: #337ab7;
}

.our-webcoderskull .cnt-block p {
    color: #b6b2b2;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.our-webcoderskull .cnt-block .follow-us {
    margin: 20px 0 0;
}

.our-webcoderskull .cnt-block .follow-us li {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}

.our-webcoderskull .cnt-block .follow-us li .fa {
    font-size: 24px;
    color: #767676;
}

.our-webcoderskull .cnt-block .follow-us li .fa:hover {
    color: #025a8e;
}

#singinbutton a {
    top: 0px;
    float: right;
    font-size: 22px;
    font-family: monospace;
    color: #000000;
    text-decoration: none;
}
body {
	margin:0;
	color:#edf3ff;
	background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;
	background:#c8c8c8;
	background:url('loook2.png') center!important;
	background-size: cover;
	font:600 16px/18px 'Open Sans',sans-serif;
}

.nav-link{
    font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold ;
	
}


.nav-link:hover{
    color: white!important;
    font-weight: bolder!important;
}

.navbar{
    background:rgba(0,0,0,0.5)!important;
}
/*fin commun*/

/*debut page 2*/

.padding-lg {
	display: block;
	padding-top: 35px;
	padding-bottom: 10px;
}
/*.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
 .our-webcoderskull .cnt-block .follow-us{
     margin:20px 0 0;
 }
.our-webcoderskull .cnt-block .follow-us li{ 
     display:inline-block; 
     width:auto; 
     margin:0 5px;
 }
 .our-webcoderskull .cnt-block .follow-us li .fa{ 
    font-size:24px; 
    color:#767676;
 }
 .our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
    color:#025a8e;
 }
.our-webcoderskull .cnt-block figure{
    width:148px; 
    height:148px; 
    border-radius:100%; 
    display:inline-block;
    margin-bottom: 15px;
 }
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
  .heading.heading-icon {
    display: block;
}  
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}*/


.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 20px;
    border-color: #2a2a2a;
    transform-origin: top 0 left 0;
    transform: scale(1.15);
    background-color: rgba(0,0,0,0.8)!important;
}
.cnt-block {
    border-radius: 15px;
}
.our-webcoderskull .cnt-block{ 
    float:left; 
    width:100%; 
    background:#fff; 
    text-align:center; 
    padding:30px 20px; 
    margin: 0 0 28px;
 }
.our-webcoderskull .cnt-block img{ 
    width:160px; 
    height:160px; 
    border-radius:100%; 
 }
 .our-webcoderskull .cnt-block h3{ 
    font-size:27px; 
    font-weight:600; 
    padding:6px 0;
    text-transform:uppercase;
 }
 .our-webcoderskull .cnt-block h3 a{
     color:white;
     font-family: cursive;
 }
 .our-webcoderskull .cnt-block h3 a:hover{
     color:#337ab7;
 }
 .our-webcoderskull .cnt-block p{ 
    font-size:15px; 
    line-height:20px; 
    font-weight:700;
 }
 .row.heading h2 {
     color:white;
     font-size: 60px;
     line-height: 95px;
	 text-align: center;
     margin: 0 27.8% 34px 28%;
	 padding-bottom: 1px;
     text-transform: uppercase;
     text-shadow: 5px ;
     background-size: cover;
     border-radius: 15px;
     box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
     background:rgba(0,0,0,0.5);
	 width: 500px;
	 font-weight: bold;

 }
 .cnt-block{
    background:rgba(0,0,0,0.5)!important;
    border: none!important ;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
  }


  
  @media screen and (min-width:550px)
  {
	 .signcoin{
		 position: absolute;
		 right: 10px;
	 }
  }
.PROJECH{
	padding-bottom: 25px;
}
#signinbutton{
    font-size: 20px;
    font-family: monospace;
    color: white!important;


}
.aqqq{

    color: white!important;

}